  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 500px;
    max-height: 5000px;
    width: auto;
    height: auto;
}

body {
    background-color: white;
}


/*INICIO DA NAVBAR*/

.login{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: sans-serif;
}

.navbar {
    background-color: #ebebeb;
    padding: 1rem;
    /*position: sticky;*/
    top: 0;
    /*box-shadow: 10px 0px 10px #2c2c2c;*/
}

.navbar>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: white;
}

.logo span {
    color: palevioletred;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    height: 10px;
    left: 25px;

}

nav ul a{
    text-decoration: none;
}

.nav-icon {
    display: flex;
    align-items: center;
}

.nav-icon img {
    cursor: pointer;
}

nav ul li {
    font-family: Arial, Helvetica, sans-serif;
    color: #2c2c2c;
    margin-right: 1.5rem;
    cursor: pointer;
}

nav ul li:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
}
/*FIM DA NAVBAR*/


header {
    background-image: radial-gradient(pink, rgb(247, 207, 214));
}

.header-inner-content {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}


.header-bottom-side {
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 1rem;
}

.header-bottom-side-left {
    height: 100%;
    flex-basis: 50%;
}

.header-bottom-side-left h2 {
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
}

.header-bottom-side-left p {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.header-bottom-side-left button {
    background-color: palevioletred;
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    border-radius: 9999px;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.3s;
}

.header-bottom-side-left button:hover {
    background-color: rgb(245, 149, 165);
}

.header-bottom-side-right {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-bottom-side-right img {
    width: 115%;
}

/* conteudo */

main {
    background-color: white;
}

.gray-background {
    background-color: #ebebeb;
}

.page-inner-content {
    max-width: 1280px;
    margin: 0 auto;
}

.cols {
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    padding: 4rem;
}

.cols-3 {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.cols-3 img {
    max-width: 100%;
}

.cols-4 img {
    max-width: 100%;
}

.cols-4 {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.cols>div {
    cursor: pointer;
    transition: all 0.2s;
}

.cols>*:hover {
    transform: translateY(-5px);
}

.section-title {
    text-align: center;
    margin-top: 4rem;
    font-size: 1.8rem;
}

.subtitle-underline {
    width: 100px;
    height: 5px;
    background: rgb(150, 133, 136);
    border-radius: 9999px;
    margin: 8px auto 0 auto;
}

.product {
    color: #2c2c2c;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;

}

.product-name {
    font-weight: 600;
    margin-top: 0.4rem;
}

.rate {
    color: palevioletred;
    font-size: 1.3rem;
}

.product-price span {
    font-weight: 600;
}

.exclusive-container {
    color: #fff;
    flex-direction: row-reverse;
    padding: 5rem 1rem;
}

.exclusive-container img {
    max-width: 500px;
}

/*INICIO DO RODAPE*/
.container{
    max-width: 1400px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.linha{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width: 140px;
}

.rodape{
    background-color: black;
    color: white;
    padding: 60px 0 20px;
}

.rodape p{
    color: white;
}

.rodape h3{
    color: white;
    margin-bottom: 25px;
}

.rodape-col-1, .rodape-col-2, .rodape-col-3, .rodape-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.rodape-col-1{
    flex-basis: 30%;
}

.rodape-col-2{
    flex: 1;
    text-align: center;
}

.rodape-col-img{
    width: 180px;
    margin-bottom: 20px;
}

.rodape-col-3, .rodape-col-4{
    flex-basis: 12%;
    text-align: right;
}

ul{
    list-style: none;
}

.rodape hr{
    border: none;
    height: 1px;
    background-color: white;
    margin: 20px 0;
}

.direitos{
    text-align: center;
}
/*FIM DO RODAPE*/

/*PRODUTOS*/
.linha2{
    margin: 100px auto 50px;
}

.linha2 select{
    padding: 5px;
    border: 1px solid palevioletred;
    cursor: pointer;
}

.linha2 select:focus{
    outline: none;
}

.paginas{
    margin: 20px 260px 80px;
}

.paginas span{
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    line-height: 40px;
    margin: 10px;
    cursor: pointer;
}

.name-pag{
    margin-top: 25px;
    text-align: center;
    font-family: Hedvig Letters Serif;
}
/*PRODUTOS*/

